<div id='social' class='center'>
    <a href='https://iamdevlinph.com/'><i class="fas fa-home"></i></a>
    <a href='#' class="social--icon-no-margin"> | </a>
    <a href='https://github.com/iamdevlinph'><i class="fab fa-github-square"></i></a>
    <a href="https://iamdevlinph.github.io/blog/"><i class="fas fa-rss-square"></i></a>
    <a href="https://resume.iamdevlinph.com/"><i class="fas fa-file-alt"></i></a>
    <a href="./stuff.html"><i class="fas fa-briefcase"></i></a>
    <a href="https://projects-tracker.iamdevlinph.com/"><i class="fas fa-clipboard-list"></i></a>
    <!-- <a href='https://www.linkedin.com/in/iamdevlinph'><i class="fab fa-linkedin"></i></a> -->
    <!-- <a href='https://stackoverflow.com/users/4620773/iamdevlinph'><i class="fab fa-stack-overflow"></i></a> -->
    <!-- <a href='https://twitter.com/iamdevlinph'><i class='fa fa-twitter'></i></a> -->
</div>
