<div id="footer">
    <footer>
        <div class="row">
            <div class="twelve columns">
                <ul class="social-links">
                    <li><a href="skype:live:devlinpajaron?chat"><i class="icon-skype"></i></a></li>
                    <li><a href="https://github.com/iamdevlinph" target="_blank"><i class="icon-github"></i></a></li>
                    <li><a href="http://stackoverflow.com/users/4620773/iamdevlinph" target="_blank"><i class="icon-stack-overflow"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/iamdevlinph/" target="_blank"><i class="icon-linkedin"></i></a></li>
                </ul>
            </div>
            <!--<div class="nine columns info">
                <h3>About Keep It Simple</h3>
                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
                    lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <p>Lorem ipsum Sed nulla deserunt voluptate elit occaecat culpa cupidatat sit irure sint sint incididunt cupidatat
                    esse in Ut sed commodo tempor consequat culpa fugiat incididunt.</p>
            </div>
            <div class="two columns">
                <h3 class="social">Navigate</h3>
                <ul class="navigate group">
                    <li><a href="">Home</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Demo</a></li>
                    <li><a href="">Archives</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </div>-->
            <!--<p class="copyright">
                <span>© Copyright 2017</span><br/>
                <span>Developed by <a href="https://github.com/iamdevlinph" target="blank">iamdevlinph</a></span><br/>
                <span>Theme: <a href="http://www.styleshout.com/templates/preview/KeepItSimple20/" target="blank">Keep It Simple.</a> made by <a title="Styleshout" target="_blank" href="http://www.styleshout.com/">Styleshout</a></span>
                © Copyright 2017<a href="https://github.com/iamdevlinph" target="blank">iamdevlinph</a>&nbsp; Theme:<a href="http://www.styleshout.com/templates/preview/KeepItSimple20/"
                    target="blank">Keep It Simple.</a>by<a title="Styleshout" target="_blank" href="http://www.styleshout.com/">Styleshout</a>.
            </p>-->
        </div>
    </footer>
</div>
