<div id='social' class='center'>
    <a href='https://iamdevlinph.com/'><i class='fa fa-rocket'></i></a>
    <a href='#' class="social--icon-no-margin"> | </a>
    <a href='https://github.com/iamdevlinph'><i class='fa fa-github'></i></a>
    <a href='https://www.linkedin.com/in/iamdevlinph'><i class='fa fa-linkedin'></i></a>
    <a href='https://stackoverflow.com/users/4620773/iamdevlinph'><i class='fa fa-stack-overflow'></i></a>
    <a href='https://twitter.com/iamdevlinph'><i class='fa fa-twitter'></i></a>
</div>
