<div id="header">
    <header id="top">
        <div class="row">
            <div class="header-content twelve columns">
                <h1 id="logo-text">
                    <a class="active grey1-text" href="">iam<span class="red-text">devlin</span>ph
                            </a>
                </h1>
                <p id="intro">Develop | Code | Game</p>
            </div>
        </div>
        <nav id="nav-wrap"><a title="Show navigation" href=""><i class="icon-menu"></i></a>
            <div class="row">
                <ul id="nav" class="nav hide-nav-menu">
                    <li><a class="active" href="">Home</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>
