<!-- Header -->
<div id='header' class='center'>
  <a class='brand-link no-underline' href='{{ site.url }}'>IAM<span class='brand-main'>DEVLIN</span>PH</a>
</div>

<!-- Links -->
<!-- <div id='links' class='center'>
  <a class='{% if page.group == "blog" %}active{% endif %}' href='{{ site.url }}'>Home</a>
  <a class='{% if page.group == "about" %}active{% endif %}' href='{{ site.url }}/about'>About</a>
  <a class='{% if page.group == "contact" %}active{% endif %}' href='{{ site.url }}/contact'>Contact</a>
</div> -->
