<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-100423670-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-100423670-2');
    </script>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description" content="Devlin Pajaron. JavaScript Developer. Blog inspired by Evan You's template" />
    <meta name="google-site-verification" content="lPcK1-WF_hJrIuXvV3Tv5zk13a4pNSakN_j2w4SbWXY" />
    <meta name="description" content="Personal blog">
    <meta name="author" content="https://github.com/iamdevlinph">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <!-- Sources -->
    <link href='//fonts.googleapis.com/css?family=Montserrat|Roboto:400,400italic,600|Roboto+Mono' rel='stylesheet' type='text/css'>
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ site.url }}/img/favicon.ico">
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
</head>
