<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>

<script src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

<script>
  // wrap all img inside .article with anchor for magnific popup to work
  window.onload = function () {
    var list = document.querySelectorAll('.article img');
    list.forEach(function (elem) {
      var anchorWrapper = document.createElement('a');
      anchorWrapper.href = elem.src;
      anchorWrapper.className  = 'pop-up-image';
      elem.parentNode.insertBefore(anchorWrapper, elem);
      anchorWrapper.appendChild(elem);
    })

    // open all read more links on new tab
    var readmoreList = document.querySelectorAll('.read-more');
    readmoreList.forEach(function (elem) {
      var anchorTag = $(elem).find('a');
      anchorTag.attr('target','_blank');
    });
  };

  $(function () {
    $('.article').magnificPopup({ delegate: '.pop-up-image', type: 'image' });
  });
</script>
