// server as global custom styling
.disabled {
    cursor: not-allowed;
}

.dash-hover:hover {
    border-bottom: 1px dashed;
}

.red-text,
.red-text-hover:hover {
    color: $red;
}

.grey1-text {
    color: $grey-1 !important;
}

p {
    margin: 0 0 20px 0;
}
