#footer {
    footer {
        margin-bottom: 0 !important;
        padding-top: 0 !important;
        .social-links {
            margin: 0 auto 0 auto;
            li {
                a {
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
        .copyright {
            padding: 0 !important;
            font-size: 12px;
            line-height: 20px;
        }
    }
}
