#header {
    header {
      height: 195px !important;;
      .header-content {
        height: 195px !important;
      }
      h1#logo-text {
        top: 58px !important;
      }
      & #intro {
        top: 142px !important;
      }
    }
    li>a.active {
        background: #fff;
        padding: 0 14px;
        border-right: 1px solid #EAE8E8;
        border-top: 1px solid #EAE8E8;
        border-left: 1px solid #EAE8E8;
        border-radius: 3px 3px 0 0;
    }
    .show-nav-menu {
      display: block !important;
    }
    .hide-nav-menu {
      display: none !important;
    }
}
