<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div id="top-bar-text" class="no-print" style="border-top:5px solid #B52E31;position:fixed;top:0;left:0;width:100%;z-index:2;text-align:center;font-size:14px;">
    Moving soon to <a href="https://devlin.ph/">https://devlin.ph/</a>
  </div>
  <div id='wrapper'>
    {% include header.html %}

    <!-- Content -->
    <div id='content'>
      {{ content }}
    </div>

    <!-- Footer - Social Links -->
    {% include footer.html %}
  </div>
</body>
{% include scripts.html %}
</html>
